@import '../../design-tokens/variables';

.stripe-checkout {
	background-color: #f1f1f1;
	padding: 2.4rem 0 9.7rem;

	@include respond-to(small) {
		padding: 4.8rem 0 11.6rem;
	}
	@include respond-to(medium) {
		padding: 7.8rem 0 14rem;
	}

	.stripe-checkout-container {
		padding-bottom: 8rem;

		@include respond-to(medium) {
			display: flex;
			justify-content: space-between;
		}

		.stripe-payment-container {
			@include respond-to(medium) {
				width: 50%;
				align-self: center;
			}

			#payment-form {
				width: 100%;
				padding: 4rem 2rem;

				@include respond-to(small) {
					padding: 4rem;
				}
			}
		}

		.summary {
			@include respond-to(medium) {
				width: 40%;
			}
		}
	}
}
