@import "../../design-tokens/variables";

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
	z-index: 5;
}

.navbar-dropdown {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #fff;
	padding: 8.4rem 0 3.2rem;
}
