@import "../../design-tokens/_variables.scss";

.product-details {
	@include respond-to(small) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	@include respond-to(medium) {
		align-items: flex-start;
	}

	img {
		width: 100%;
		border-radius: 8px;
	}

	.go-back {
		font-size: 1.5rem;
		line-height: 1.6;
		opacity: 0.5;
		font-weight: 500;
		margin-bottom: 2.4rem;
		display: block;
		cursor: pointer;

		@include respond-to(small) {
			width: 100%;
		}
		@include respond-to(small) {
			margin-bottom: 5.8rem;
		}
	}

	.product-image {
		display: block;
		margin-bottom: 3rem;

		@include respond-to(small) {
			width: 40.5%;
			margin-bottom: 0;
		}
		@include respond-to(medium) {
			width: 48.5%;
		}
	}

	.content {
		margin-bottom: 8.5rem;

		@include respond-to(small) {
			width: 49%;
			margin-bottom: 0;
		}
		@include respond-to(medium) {
			width: 40%;
			align-self: center;
		}

		.new-product {
			font-size: 1.4rem;
			letter-spacing: 10px;
			color: $palette-raw-sienna;
			text-transform: uppercase;
		}

		.title {
			margin: 2.4rem 0;
			font-size: 2.8rem;
			letter-spacing: 1px;
			line-height: 1.3;

			@include respond-to(small) {
				margin-top: 1.5rem;
			}
		}

		.tagline {
			margin-top: 0;
			margin-bottom: 2.4rem;
		}

		.price {
			font-weight: bold;
			font-size: 1.8rem;
			letter-spacing: 1.29px;
			display: inline-block;
			margin-bottom: 3.3rem;
		}

		.shop {
			display: flex;
			justify-content: space-between;
			width: 296px;

			.quantity {
				display: inline-flex;
				justify-content: space-between;
				width: 120px;
				background-color: #f1f1f1;

				button {
					padding: 0 1.4rem;
					font-size: 1.3rem;
					letter-spacing: 1px;
					border: none;
					opacity: 0.25;
					background-color: transparent;
					cursor: pointer;
				}

				.amount {
					align-self: center;
				}
			}
		}
	}

	.features {
		margin-bottom: 8.5rem;

		@include respond-to(small) {
			margin: 12rem 0;
		}
		@include respond-to(medium) {
			width: 57%;
			margin: 15rem 0;
		}

		.title {
			font-size: 2.4rem;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 2.5rem;
		}

		.tagline {
			margin-top: 0;

			&:first-of-type {
				margin-bottom: 2.4rem;
			}
		}
	}

	.included {
		margin-bottom: 8.5rem;

		@include respond-to(small) {
			display: flex;
			justify-content: space-between;
			width: 80%;
			margin-bottom: 12rem;
		}
		@include respond-to(medium) {
			width: 31%;
			flex-direction: column;
			justify-content: flex-start;
			margin: 15rem 0;
		}

		.title {
			font-size: 2.4rem;
			margin-top: 0;
			margin-bottom: 2.4rem;
			text-transform: uppercase;
			letter-spacing: 0.86px;

			@include respond-to(small) {
				margin-bottom: 0;
			}
			@include respond-to(small) {
				margin-bottom: 3.5rem;
			}
		}

		.list {
			list-style: none;
			margin: 0;
			padding: 0;

			.item {
				font-size: 1.5rem;
				line-height: 1.6;
				color: rgba(#000, 0.5);
				font-weight: 500;
				margin-bottom: 0.8rem;

				span {
					font-weight: bold;
					color: $palette-raw-sienna;
					margin-right: 2.4rem;
				}
			}
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 2rem;
		margin-bottom: 12rem;

		@include respond-to(small) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(2, 174px);
			column-gap: 1.8rem;
		}
		@include respond-to(medium) {
			grid-template-rows: repeat(2, 280px);
			margin-bottom: 15rem;
			gap: 3.2rem;
		}

		.image {
			@include respond-to(small) {
				&:last-of-type {
					grid-column: 2 / 3;
					grid-row: 1 / 3;
				}
			}

			img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	.suggested {
		margin-bottom: 12rem;

		@include respond-to(small) {
			width: 100%;
		}
		@include respond-to(medium) {
			margin-bottom: 16rem;
		}

		.title {
			text-align: center;
			font-size: 2.4rem;
			letter-spacing: 0.86px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 4.4rem;
		}

		.suggested-container {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 5.6rem;

			@include respond-to(small) {
				grid-template-columns: repeat(3, 1fr);
				column-gap: 1.1rem;
			}

			.suggested-product {
				text-align: center;

				.image {
					display: inline-block;
					margin-bottom: 3rem;
				}

				.title {
					font-size: 2.4rem;
					letter-spacing: 1.71px;
					margin-top: 0;
					margin-bottom: 3.5rem;
				}
			}
		}
	}
}
