@import "../../design-tokens/variables";

.navbar {
	background-color: #000;
	position: relative;
	z-index: 1000;

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(#fff, 0.1);
		padding: 3.2rem 0;
		position: relative;
		z-index: 1000;

		@include respond-to(medium) {
			padding-bottom: 3.7rem;
		}

		.nav-toggler {
			cursor: pointer;

			@include respond-to(medium) {
				display: none;
			}

			&.open {
				g {
					fill: $palette-raw-sienna;
				}
			}
		}

		.logo {
			text-decoration: none;
			font-size: 0;

			@include respond-to(small) {
				width: 80%;
			}
			@include respond-to(medium) {
				width: auto;
			}
		}

		.nav-list {
			display: none;
			justify-content: space-between;
			width: 429px;

			@include respond-to(medium) {
				margin: 0;
			}

			.nav-item a {
				font-size: 1.3rem;
				font-weight: bold;
				letter-spacing: 2px;
				color: #fff;
				text-decoration: none;
				transition: 0.3s color ease;

				&:hover {
					color: $palette-raw-sienna;
				}
			}

			@include respond-to(medium) {
				display: flex;
			}
		}

		.cart-icon {
			cursor: pointer;

			&:hover path {
				transition: 0.3s fill ease;
				fill: $palette-raw-sienna;
			}
		}
	}
}
